/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {background-color: #112027;font-family: "Open Sans", sans-serif;padding: 5px 25px;font-size: 18px;margin: 0;color: #444;}
.space {padding: 110px;color: #112027;font-size:0px;}
.space2 {font-size: 0px;padding: 200px;color: #112027;cursor: default}
.space3 {font-size: 0px;padding: 10px;color: #112027;cursor: default}
.head h1 {color:white;text-align: center;font-size: 80px;}
.head {color: white;}
.about {color:white;background-color:#32c3a2;padding: 10px 40px; border-radius: 50px;}
.about:hover {color:white;background-color:rgba(50, 195, 162, 0.96);padding: 10px 40px; border-radius: 50px;text-decoration:none;}
.project {color:white;background-color:#040e13;padding: 10px 40px; border-radius: 50px;}
.project:hover {color:white;background-color:rgba(4, 14, 19, 0.65);padding: 10px 40px; border-radius: 50px;text-decoration:none;}
#body {color:white;}
.footer {color:white;text-align: center;}
.footer a {font-weight: 700; color:white;}
.footer i {color:red}
.page {text-align:center; color:white;}
